* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:'Georgia';
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #2B3A55;
    z-index: 1;
    border-bottom:1px solid #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Georgia';
    color: #2B3A55;
}

h2 {
    font-family: 'perpetua titling mt';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #2B3A55;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #7283a3;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #2B3A55;
    text-decoration: none;
}

a.tbl-pink {
    background: #2B3A55;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #7283a3;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}


#expression {
    background: #dedede;
    padding: 30px 0px 30px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

#contact {
    background: #a7a9ce;
    padding: 50px 0px 50px 0px;
}

.footer {
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 100%;
    margin: auto;
}

h3 {
    text-align: center;
    font-family: 'Georgia';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #2B3A55;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50 px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
}